#main_container{
	display: flex;
	flex-direction: column;
}
.logo{
    width: 100pt;
}

#bars{
    font-size: 20pt;
}


h1{
	font-size: 50pt;
	text-align: center;
}


#pbox1 {
	font-size: 20pt;
	text-align:center;
	color: grey;
}

h3 {
	font-size: 60pt;
	text-align: center;
	margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
}


.box2 {

    display: flex;
    flex-direction: column;
	align-items: center;
}
	

.titreminibox{
	font-size: 24pt;
    font-weight: 900;
}
.textminibox{
	font-size: 18pt;
    color: gray;

}

.boxdebox2 {
	display: block;
    background-color: rgb(242,250,252);
	text-align: center;
	border-radius: 5%;
	height: 400pt;
	width: 800pt;
	padding-top: 200pt;
	margin-top: 30pt;

	

	

}
.imageboxdebox2 {
	height: 90pt;
}

body {
	width: 100vw;
	margin-left: auto;
	padding: 0px;
	font-family: 'fabrands';
}

.box1 {
	display: flex;
	flex-direction: column ;
	background: linear-gradient(180deg, rgba(207,233,247,1) 0%, rgba(255,255,255,1) 100%);
	align-items: center;
}

.box4 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}

.chiffre {
	display: flex;
	flex-direction: column;
	margin: 10pt;

}

.download {
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}

.description {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}


#pbox1{
	text-align: center;
	width: 90%;
	font-size: 16pt;
	text-align:center;
	color: grey;
}

.large{
	font-size: 40pt;
	width: 90%;
	text-align: center;
}

.small{
	font-size: 16pt;
	color: grey;
	text-align: center;
	margin: 0;
}

.violet {
	color: white;
	background-color: #574dd2;
	border-radius: 30px;
	font-size: 12pt;
	padding: 10pt;
	width: 40%;
	margin-bottom: 10pt;
}

.rose {
	color: white;
	background-color: #d9507d;
	border-radius: 30px;
	font-size: 12pt;
	padding: 10pt;
	width: 40%;
	margin-bottom: 50pt;
}

.blanc {
	color: black;
	background-color: white;
	border-radius: 30px;
	font-size: 12pt;
	padding: 10pt;
	width: 40%;
	margin-bottom: 10pt;
}

#smartphone {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#ls-box3{
	list-style-image: url(./Assets/list-arrow.png);
}

.box3 {
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	text-align: center;

}

#Email{
	color: #574dd2;
	text-decoration-style: solid;
}

.box8{
	display: flex;
	justify-content: center;
	width: 90%;
	text-align: center;
	flex-direction: column;
	
}


#RS{
	margin-bottom: 5pt;
}

#RS a{
	color: black;
}
#info a{
	text-decoration-line: none;
	text-decoration-color: black;
	color: black;
}
.box5 { 
	background-color: rgb(242,250,252);
	display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
	justify-content: center;

}
.titletestimony {
	font-size: 30pt;
}
.txttestimony {
	display: flex;
	font-style: italic;
	color: gray;
}
.testiimg {
	border-radius: 50%;
}
.nametestimony {
	font-size: 18pt;
    font-weight: 700;
}
.boxtesti {
	text-align: center;

}